{% extends 'base.html' %}
{% block title %}
    Add Investment Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm4Ajfn-Seut9szAREbAha0ZYHlX08xbRszA&usqp=CAU" alt="image-200.jpeg">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Enter Your New Investment
            </h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <br>
            {{ form.initial_deposit.label() }}
            {{ form.initial_deposit(class="form-control", placeholder="Initial Deposit") }}

            {{ form.monthly_deposit.label() }}
            {{ form.monthly_deposit(class="form-control", placeholder="Monthly Deposit") }}

            {{ form.yearly_interest.label() }}
            {{ form.yearly_interest(class="form-control", placeholder="Yearly Interest") }}

            {{ form.years_of_investment.label() }}
            {{ form.years_of_investment(class="form-control", placeholder="Years of Investment") }}
            <br>
            <div class="checkbox mb-3">
               <h6>See Existing Investments</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('investments_page') }}">See Investments</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}