{% extends 'base.html' %}
{% block title %}
Investments Page
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 20px; margin-left: 20px">
   <table class="table table-hover table-dark">
      <thead>
         <tr>
            <th scope="col">Number</th>
            <th scope="col">Initial Deposit</th>
            <th scope="col">Monthly Deposit</th>
            <th scope="col">Yearly Interest</th>
            <th scope="col">Years of Investment</th>
            <th scope="col">Total Deposit</th>
            <th scope="col">Total Interest Gains</th>
            <th scope="col">The Investment Value at the End</th>
            <th scope="col">Options</th>
         </tr>
      </thead>
      <tbody>
         {% for investment in investments %}
         <tr>
            <td>{{ investment.counter }}</td>
            <td>₪{{ investment.initial_deposit }}</td>
            <td>₪{{ investment.monthly_deposit }}</td>
            <td>%{{ investment.yearly_interest }}</td>
            <td>{{ investment.years_of_investment }}</td>
            <td>₪{{ investment.total_deposit }}</td>
            <td>₪{{ investment.total_interest }}</td>
            <td>₪{{ investment.total_money }}</td>
            <td>
               <form method="POST" action="{{ url_for('investments_page') }}">
                  <input type="hidden" name="investment_id" value="{{ investment.investment_id }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <button type="submit" class="btn btn-outline btn-danger">Delete</button>
               </form>
               <a class="btn btn-outline btn-success" href="{{ url_for('add_investment_page') }}">Add</a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}